/* The typewriter effect for the hero section */
/* Code borrowed from https://css-tricks.com/snippets/css/typewriter-effect/ */

.typewriter {
    overflow: hidden;
    border-right: .15em solid yellow; /* Green and gold are the school colors. Yellow here represents gold with the cursor */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    
    animation:
        typing 2s steps(25, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: yellow }
}